<div class="row mb-10">
    <div class="col-md-12">
        <ng-container *ngIf="showSendButton">
            <button mat-raised-button class="fyt-button mr-5 mt-5" (click)="sendNotification()">
                Add Member
            </button>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="showcard">
    <div class="fyt-modal-design-branch animated slideInUp slow row" style="z-index: 3;">
        <div class="col-md-12 fyt-display-flex">
            <span class="sp">
            </span>
            <span class="new-Montserrat-Medium fyt-link-btn new-999999" (click)="closeDialog('cancel')"> <span
                    style="border-bottom: 1px solid #999999;">Close &nbsp;x</span>
            </span>
        </div>
        <div class="col-md-12 ta-c" style="border-bottom: 1px solid #999999;">
            <h3 class="ta-c new-Montserrat-Regular fnt-15 new-333333">Add Member:</h3>
            <span class="fnt-15 new-Montserrat-Regular new-808080 ta-c">Add Your Information</span>


            <form #userForm="ngForm" (ngSubmit)="getUserData(userForm.value)">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>First name</mat-label>
                                <input matInput ngModel name="name">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Last Name:</mat-label>
                                <input matInput ngModel name="lastname">
                            </mat-form-field></td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Age</mat-label>
                                <input matInput ngModel name="age">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Gender</mat-label>
                                <input matInput ngModel name="gender">
                            </mat-form-field></td>


                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>City</mat-label>
                                <input matInput ngModel name="city">
                            </mat-form-field></td>

                        <td><mat-form-field class="example-full-width">
                                <mat-label> Contact Number:</mat-label>
                                <input matInput ngModel name="contactnumber">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Blood Group:</mat-label>
                                <input matInput ngModel name="bloodGroup">
                            </mat-form-field></td>
                    </tr>

                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label> Height:</mat-label>
                                <input matInput ngModel name="height">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label> Weight:</mat-label>
                                <input matInput ngModel name="weight">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Batch Time:</mat-label>
                                <input matInput ngModel name="batchtime">
                            </mat-form-field></td>

                    </tr>
                    <tr>



                        <td><mat-form-field class="example-full-width">
                                <mat-label>Emergency Contact Number Name:</mat-label>
                                <input matInput ngModel name="emergencycontactname">
                            </mat-form-field></td>

                        <mat-form-field class="example-full-width">
                            <mat-label>Enter Emergency Mobile Number:</mat-label>
                            <span matPrefix>+91 &nbsp;</span>
                            <input type="tel" matInput placeholder="1234-1234-1234" ngModel
                                name="emergencycontactnumber">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Start Date:</mat-label>
                                <input matInput ngModel name="startdate">
                            </mat-form-field></td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Trainer name</mat-label>
                                <input matInput ngModel name="trainername">
                            </mat-form-field></td>

                        <td><mat-form-field class="example-full-width">
                                <mat-label>Trainer Number:</mat-label>
                                <input matInput ngModel name="trainernumber">
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>End date:</mat-label>
                                <input matInput ngModel name="enddate">
                            </mat-form-field></td>

                    </tr>
                </table>

                <!-- <div style="text-align: center;">
                <button type="button" class="new-Montserrat-Medium yes-btn" style="text-align: center;"
                    (click)="marAttendance()"><img src="../../../../assets/icons/member_profile/yes.png" width="22px"
                        style="margin-top: -2px;" alt="">Yes</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="new-Montserrat-Medium no-btn" style="text-align: center;"
                    (click)="closeDialog('cancel')"><img src="../../../../assets/icons/member_profile/no.png" width="22px"
                        style="margin-top: -2px;" alt="">No</button>
            </div> -->
                <button class="new-Montserrat-Medium yes-btn" style="text-align: center;">Add</button>
                <h6 class="ta-c new-Montserrat-Medium fnt-15 new-0071BC pt-10">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores nostrum, quod facere hic
                        perspiciatis omnis quaerat odit, harum expedita consectetur enim fugiat, itaque maxime at
                        maiores
                        libero tenetur necessitatibus eaque!</p>
                </h6>
            </form>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="submitedform">

</ng-container>

<!-- <ng-container *ngIf="submitedform">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"
            style="display:inline; height: 250px;">
        <mat-card-content>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque animi excepturi ipsum voluptatem
                doloribus eaque, ex,
                nulla tenetur quidem, recusandae a similique incidunt ut perferendis consequuntur adipisci doloremque
                iure quis?
                Thank You For Submit Your Information
            </p>
        </mat-card-content>


        <mat-card-actions>
            <button mat-raised-button>Download PDF</button> &nbsp;&nbsp;
            <button mat-raised-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
</ng-container> -->

<!-- <button mat-raised-button color="primary" [routerLink]="['/registrationdata']">All member Data</button><br><br><br> -->

<div class="main">
    <div>
        <h1>Members </h1>
    </div>

    <!--cards -->
    <!-- <div class="card" *ngFor="let user of users">

        <div class="des">
            <p>Name: {{user.name}} <br></p>
            <p>Age: {{user.age}}<br></p>
            <p>Gender: {{user.gender}}<br></p>
            <p>Dateof Birth: {{user.dateofbirth}}<br></p>
            <p>City: {{user.city}}<br></p>
            <p>contactnumber: {{user.contactnumber}}<br></p>
        </div>
    </div>
</div> -->


 <!-- Sequence  -->
 <section class="articles">


    <div *ngFor="let user of users">
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="https://picsum.photos/id/1011/800/450" alt="" />
                </figure>
                <div class="article-body">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                    <p>Name: {{user.name}} <br></p>
                    <p>number: {{user.number}}<br></p>
                    <p>email: {{user.email}}<br></p>
                    <p>Age: {{user.age}}<br></p>
                    <p>City: {{user.city}}<br></p>
                    <p>Description: {{user.description}}<br></p>
                    <a href="#" class="read-more">
                        Read more <span class="sr-only">about this is some title</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        
    </div>
</section>