<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onAction()">Add member</button>
</div>

<ng-container *ngIf="memberform">

  <form #userForm="ngForm" (ngSubmit)="getUserFromData(userForm.value)">
    <div class="fyt-modal-design-branch" *ngIf="memberform">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder" ngModel name="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder" ngModel name="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder" ngModel name="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder" ngModel name="password">
        </mat-form-field>
      </p>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <button mat-raised-button color="primary">Add User</button> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="Accent" (click)="closeDialog()">Close</button>

    </div>

    <hr>

    <h3>Using CSS to style an HTML Form</h3>

    <div>
      <form>
        <label for="fname">First Name</label>
        <input type="text" id="fname" ngModel name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" ngModel name="lastname" placeholder="Your last name..">

        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>

        <input type="submit" value="Submit">
      </form>
    </div>

  </form>
</ng-container>

<div>
<mat-card>Simple card</mat-card>
</div>


<div class="main">
  <ul class="cards">
    <hr>
    <div class="card_text" *ngFor="let user of users">
      <p>Name: {{user.name}} <br></p>
      <p>Number: {{user.number}}<br></p>
      <p>Email: {{user.email}}<br></p>
      <p>Address: {{user.address}}<br></p>
      <p>Message: {{user.message}}<br></p>
      <br>
      <hr>
    </div>
  </ul>
</div>