<p>registrationdata works!</p>

<!-- <div class="main">
    <ul class="cards">
      <hr>
      <div class="card_text" *ngFor="let user of users">
        <p >Name: {{user.name}} <br></p>
        <p >LastName: {{user.lastname}} <br></p>
        <p>Age: {{user.age}}<br></p>
        <p>Gender: {{user.gender}}<br></p>
        <p>Dateof Birth: {{user.dateofbirth}}<br></p>
        <p>City: {{user.city}}<br></p>
        <p>contactnumber: {{user.contactnumber}}<br></p>
        <p>bloodGroup: {{user.bloodGroup}}<br></p>
        <p>height: {{user.height}}<br></p>
        <p>weight: {{user.weight}}<br></p>
        <p>Emergency Contact Name: {{user.emergencycontactname}}<br></p>
        <p>Emergency Contact Number: {{user.emergencycontactnumber}}<br></p>
        <p>Startdate: {{user.startdate}}<br></p>
        <p>Enddate: {{user.enddate}}<br></p>
        <p>Trainer Number: {{user.trainernumber}}<br></p>
        <p>Trainer Name: {{user.trainername}}<br></p>
        <br><hr>
      </div>
    </ul>
  </div> -->

  <div class="main">
    <div>
        <h1>Register Users </h1>
    </div>
    
    <!--cards -->
    <div class="card" *ngFor="let user of users">
            <div class="title">
                <h1>Registration Data : {{user.name}} </h1>
            </div>
            <div class="des">
                <p>Banquet Halls, Lawns... </p><p >Name: {{user.name}} <br></p>
                <p >LastName: {{user.lastname}} <br></p>
                <p>Age: {{user.age}}<br></p>
                <p>Gender: {{user.gender}}<br></p>
                <p>Dateof Birth: {{user.dateofbirth}}<br></p>
                <p>City: {{user.city}}<br></p>
                <p>contactnumber: {{user.contactnumber}}<br></p>
                <p>bloodGroup: {{user.bloodGroup}}<br></p>
                <p>height: {{user.height}}<br></p>
                <p>weight: {{user.weight}}<br></p>
                <p>Emergency Contact Name: {{user.emergencycontactname}}<br></p>
                <p>Emergency Contact Number: {{user.emergencycontactnumber}}<br></p>
                <p>Startdate: {{user.startdate}}<br></p>
                <p>Enddate: {{user.enddate}}<br></p>
                <p>Trainer Number: {{user.trainernumber}}<br></p>
                <p>Trainer Name: {{user.trainername}}<br></p>

    </div>
    </div>