<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
  <title>GeeksForGeeks</title>

</head>

<body>

  <!-- for header part -->
  <div class="main-container">
   
    <div class="main">

    

    
  <!-- Big card  -->
  <div class="report-container">
    <div class="report-header">
      <h1 class="recent-Articles">Recent Articles</h1>
      <button class="view">View All</button>
    </div>

    <div class="report-body">
      <div class="report-topic-heading">
        <h3 class="t-op">Article</h3>
        <h3 class="t-op">Views</h3>
        <h3 class="t-op">Comments</h3>
        <h3 class="t-op">Status</h3>
      </div>

      <div class="items">
        <div class="item1">
          <h3 class="t-op-nextlvl">Article 73</h3>
          <h3 class="t-op-nextlvl">2.9k</h3>
          <h3 class="t-op-nextlvl">210</h3>
          <h3 class="t-op-nextlvl label-tag">Published</h3>
        </div>
      </div>
    </div>
  </div>
    
    </div>
  </div>

  <!-- <script src="./index.js"></script> -->
</body>

</html>