.fyt-modal-design-trainer {
    min-width: 25%;
    max-width: 30%;
    position: fixed;
    z-index: 1;
    bottom: 15rem;
    right: 30%;
    max-height: 50%;
    min-height: 200px;
    border: 1px solid #ccc;
    margin-right: 1rem;
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background: #fff;
    padding: .5rem;
    border-radius: 3px;
}

.fyt-modal-design-branch {
    min-width: 35%;
    max-width: 40%;
    position: fixed;
    z-index: 1;
    top: 10rem;
    right: 20%;
    max-height: 50%;
    min-height: 200px;
    /* border: 1px solid #ccc; */
    margin-right: 1rem;
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 6%), 0 6px 10px 0 rgb(0 0 0 / 7%), 0 1px 18px 0 rgb(0 0 0 / 12%) !important;
    /* box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075); */
    background: #fff;
    padding: .5rem;
    border-radius: 7px;
}

.fyt-modal-design-branch-shift {
    min-width: 35%;
    max-width: 40%;
    position: fixed;
    z-index: 1;
    top: 10rem;
    right: 20%;
    max-height: 65%;
    min-height: 200px;
    /* border: 1px solid #ccc; */
    margin-right: 1rem;
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 6%), 0 6px 10px 0 rgb(0 0 0 / 7%), 0 1px 18px 0 rgb(0 0 0 / 12%) !important;
    /* box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075); */
    background: #fff;
    padding: .5rem;
    border-radius: 7px;
}

@media only screen and (max-width:600px) {
    .fyt-modal-design-trainer {
        min-width: 40%;
        max-width: 45%;
        position: fixed;
        z-index: 1;
        bottom: 15rem;
        right: 35%;
        max-height: 40%;
        min-height: 200px;
        border: 1px solid #ccc;
        margin-right: 1rem;
        box-shadow: 0 3px 5px 5px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        background: #fff;
        padding: .5rem;
        border-radius: 3px;
    }

    .fyt-modal-design-branch {
        min-width: 40%;
        max-width: 45%;
        position: fixed;
        z-index: 1;
        bottom: 15rem;
        right: 35%;
        max-height: 40%;
        min-height: 200px;
        /* border: 1px solid #ccc; */
        margin-right: 1rem;
        box-shadow: 0 3px 5px 5px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        background: #fff;
        padding: .5rem;
        border-radius: 7px;
    }

    .fyt-modal-design-branch-shift {
        min-width: 40%;
        max-width: 45%;
        position: fixed;
        z-index: 1;
        bottom: 15rem;
        right: 35%;
        max-height: 60%;
        min-height: 200px;
        /* border: 1px solid #ccc; */
        margin-right: 1rem;
        box-shadow: 0 3px 5px 5px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        background: #fff;
        padding: .5rem;
        border-radius: 7px;
    }
}