<p>enqury works!</p>

<div class="row mb-10">
    <div class="col-md-12">
        <ng-container *ngIf="showSendButton">
            <button mat-raised-button class="fyt-button mr-5 mt-5" (click)="sendNotification()">
                Add Enquiry
            </button>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="showcard">
    <div class="fyt-modal-design-branch animated slideInUp slow row" style="z-index: 3;">
        <div class="col-md-12 fyt-display-flex">
            <span class="sp">
            </span>
            <span class="new-Montserrat-Medium fyt-link-btn new-999999" (click)="closeDialog('cancel')"> <span
                    style="border-bottom: 1px solid #999999;">Close &nbsp;x</span>
            </span>
        </div>
        <div class="col-md-12 ta-c" style="border-bottom: 1px solid #999999;">
            <h6 class="ta-c new-Montserrat-Regular fnt-15 new-333333">Enquirys</h6>
            <span class="fnt-15 new-Montserrat-Regular new-808080 ta-c">Are You Sure To add Enquiry</span>
            <h6 class="ta-c new-Montserrat-Medium fnt-15 new-0071BC pt-10">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores nostrum, quod facere hic
                    perspiciatis omnis quaerat odit, harum expedita consectetur enim fugiat, itaque maxime at maiores
                    libero tenetur necessitatibus eaque!</p>
            </h6>
        </div>
        <br>
        <div style="text-align: center;">
            <button type="button" class="new-Montserrat-Medium yes-btn" style="text-align: center;"
            (click)="marAttendance()"><img src="../../../../assets/icons/member_profile/yes.png" width="22px"
                style="margin-top: -2px;" alt="">Yes</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="new-Montserrat-Medium no-btn" style="text-align: center;"
            (click)="closeDialog('cancel')"><img src="../../../../assets/icons/member_profile/no.png" width="22px"
                style="margin-top: -2px;" alt="">No</button>
        </div>

        <!-- <div class="col-md-6 col-6 py-3 pb-20" style="text-align: end;">
            <button type="button" class="new-Montserrat-Medium yes-btn" style="text-align: initial;"
                (click)="marAttendance()"><img src="../../../../assets/icons/member_profile/yes.png" width="22px"
                    style="margin-top: -2px;" alt="">&nbsp;Yes</button>
        </div>
        <div class="col-md-6 col-6 py-3 pb-20" style="text-align: initial;">
            <button type="button" class="new-Montserrat-Medium no-btn" style="text-align: initial;"
                (click)="closeDialog('cancel')"><img src="../../../../assets/icons/member_profile/no.png" width="22px"
                    style="margin-top: -2px;" alt="">&nbsp;No</button>
        </div> -->
    </div>
</ng-container>